.navbar {
  position: relative;
}
.upperNavbar {
  width: 100%;
  height: 35px;
  padding: 0 1rem;
  background-color: hsl(0, 0%, 91%);
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.upLeft,
.upRight {
  display: flex;
  gap: 15px;
}
.upLeft > a,
.upRight > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  color: #111;
}
.upLeft > a:hover,
.upRight > a:hover {
  color: #888;
}

.middleNavbar {
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  z-index: 50;
}
.navbar_logo {
  flex: 1;
}
.navbar_logo h2 a {
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
}

/* desktop menu */
.desktop_menu {
  flex: 1;
  justify-content: center;
  display: flex;
}
.desktop_menu > li {
  display: flex;
  align-items: center;
}
.desktop_menu > li > a {
  height: 65px;
  color: #111;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: relative;
}

.desktop_menu li:hover .dropDown {
  visibility: visible;
  transform-origin: top;
  animation: mymove 0.1s ease-out;
}
@keyframes mymove{
  from{transform: scaleY(0)}
  to{transform: scaleY(1)}
}
.desktop_menu li:hover .dropDown > ul {
  opacity: 1;
  transition: all linear 0.4s 0.2s;
}
/*검은밑줄*/
.desktop_menu > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #111;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.desktop_menu > li:hover a::after {
  opacity: 1;
}
.dropDown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width:100%;
  background-color: #fff;
  padding: 30px 200px;
  z-index: 30;
  visibility: hidden;
}
.dropDown ul {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: none;
}
.dropDown ul li {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.dropDown ul li a{
  margin-bottom: 1rem;
}

.dropDown ul li a:nth-child(1) {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #111;
}
.dropDown ul li a:nth-child(n + 2) {
  color: #888;
}
.dropDown ul li a:hover {
  color: black;
}

/* search and cart menu */
.search_cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search_cart li{
  margin-left: 10px;

  cursor: pointer;
}

.search_cart li a {
  color: #111;
  padding:12px;

}
.search_cart li a span {
  margin-left: 5px;
}

.searchInput {
  width: 120px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: width 0.3s ease-in;
}
.searchInput > span {
  margin-left: 10px;
}
.searchInput > input {
  margin-left: 10px;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  transition: width 0.3s ease-in;
}
/*서치바 겉쪽 안쪽 */
.searchInput:hover,
.searchInput:hover input {
  background-color: rgb(207, 207, 207);
}
.searchInput:hover > input::placeholder {
  color: black;
}


.cartButton{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display:flex;
  gap:2px;
  align-items: center;
  justify-content: center;
}
.cartButton:hover{
  background-color:hsl(0, 0%, 91%);
}

.userButton {
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.2s ease-in;
}
.userButton a:hover{
  outline:1px solid black;
}
.userButton_mobile{
  display:none;
}

/* hamburger menu */
.hamburger_menu {
  width: 40px;
  height: 40px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  display: none;
}
.hamburger_menu:hover {
  background-color: hsl(0, 0%, 91%);
  border-radius: 50%;
}
.hamburger_menu > div {
  width: 100%;
  height: 3px;
  background: black;
}

/* 서치 정보 창 */
.search_menu {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
.search_menu > .popular_search_term {
  max-width: 650px;
  height: 100%;
  margin: auto;
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.search_menu > .popular_search_term > p {
  font-size: 1.1rem;
  color: #777;
}
.search_menu > .popular_search_term > a {
  font-size: 1.1rem;
  color: #111;
}
.search_menu > .popular_search_term > a:hover {
  color: #777;
}
.search_menu > .direct_searched_term {
  width: 100%;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_menu > .direct_searched_term > .direct_searched_term_inside {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.search_menu > .direct_searched_term > .direct_searched_term_inside > img {
  width: 40% !important;
  align-self: center;
  margin-bottom: 15px;
}
.search_menu > .direct_searched_term > .direct_searched_term_inside > div {
  margin: auto;
}

/* 서치매튜에 토글온 클래스 있을시 (검색인풋클릭시)*/
.search_tog_on {
  display: block;
}
.mn_search_togg_on {
  position: fixed;
  z-index: 100;
  transform: translateY(-35px);
  transition: transform 0.2s linear 0.2s;
}
.mn_search_togg_on > .desktop_menu {
  display:none;
}

.mn_search_togg_on  .searchInput {
  width: 500px;
  transform: translateX(calc(-50vw + 250px));
  transition: transform 0.3s ease-in-out;
}

.mn_search_togg_on > .search_cart > .searchInput > input {
  width: 80%;
}

.mn_search_togg_on > .search_cart > li:nth-child(n + 2) {
  display: none;
}

/* 스마트폰 */
.smartphone_menu a{
  color:#111;
}

.smartphone_menu{
  position:absolute;
  z-index: 100;
  background-color: hsl(0, 0%, 91%);
  top:0;
  right: -400px;
  width: 270px;
  height: 100vh;
  transition: right ease-in-out 0.3s;
}
.smartphone_menu> ul {
  display:flex;
  flex-direction: column;
}
.xbutton{
  align-self: flex-end;
  font-size: 20px;
  width:40px;
  height:40px;
  border-radius: 50%;
  margin:10px 10px 10px 0;
  border: none;
  cursor: pointer;
  background-color: hsl(0, 0%, 91%);
}
.xbutton:hover{
  background-color: 
  rgb(168, 168, 168)
}
.back_button{
  font-size: 16px;
  padding:20px 30px 20px 10px;
  display:flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
}

.inside, .inside_inside{
  position: absolute;
  width:100%;
  height: 100%;
  background-color: hsl(0, 0%, 91%);
  top:0;
  right: -100%;
  display:flex;
  flex-direction: column;
  transition: right ease-in-out 0.3s;
}
.inside_inside{
  background-color: hsl(0, 0%, 91%);
}
.sm_category{
  font-size: 30px;
  padding: 15px 20px 15px 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.sm_category:hover{
  background-color:darkgrey
}

.sm_category a{
  display:block;
  width:100%;
  font-size: 30px;
  padding:15px 20px 15px 20px;
}
.show{
  right: 0;
}

@media (max-width: 1100px) {

  .searchInput{
    width:120px;
  }

  .cartButton span{
    display: none;
  }


  .mn_search_togg_on > .search_cart > .searchInput {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .desktop_menu {
    display: none;
  }
  .hamburger_menu {
    display: flex;
  }

  .search_cart li{
    width:30px;
    padding: 0px;
  }

  .searchInput{
    width:50px;
    background-color: #fff;
  }
  .searchInput i{
    font-size: 1.6rem;
  }
  .searchInput input{
    display:none;
  }
  
  .search_menu{
    padding: 0 20px 0 20px;
  }
  .mn_search_togg_on > .search_cart{
    justify-content: start;
    margin-right: 20px;
  }
  .mn_search_togg_on > .search_cart > .searchInput {
    width: 150px;
  }
  .mn_search_togg_on > .search_cart > .searchInput > input {
    width: 60%;
  }

  .cartButton i {
    font-size: 1.6rem;
  }

  .userButton{
    display:none;
  }
  .userButton_mobile{
    display:block;
  }
  .userButton_mobile i{
    display:block;
    font-size: 1.6rem;
  }
  


}
